Build artifacts

dist
build
.turbo
coverage

Node modules

This is crucial. It prevents your local node_modules from being copied into the image.

node_modules
*/node_modules

Logs

.log
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

Env files

Ignore all .env files but allow the example file

.env
.env.*
!.env.example

OS-specific

.DS_Store
Thumbs.db